lib/complex/lib/xsd/requests/method-getthings3.xsd

<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved. -->
<schema 
    targetNamespace="urn:com.microsoft.wc.methods.GetThings3"
    xmlns:this="urn:com.microsoft.wc.methods.GetThings3" 
    xmlns:wc-types="urn:com.microsoft.wc.types" 
    xmlns:wc-thing="urn:com.microsoft.wc.thing"
    xmlns:wc-method-getthings="urn:com.microsoft.wc.methods.GetThings"
    xmlns="http://www.w3.org/2001/XMLSchema">
    
    <!--

        METHOD-GETTHINGS3.XSD
        Microsoft HealthVault

        Platform API: Info schema for GetThings3 method

    -->
    <import 
        namespace="urn:com.microsoft.wc.types" 
        schemaLocation="types.xsd"/>
        
    <import 
        namespace="urn:com.microsoft.wc.thing" 
        schemaLocation="thing.xsd"/>
    <import 
        namespace ="urn:com.microsoft.wc.methods.GetThings" 
        schemaLocation="method-getthings.xsd"/>
        
    <annotation>
        <documentation>
            <summary>
                Schema for the GetThings3 method request.
            </summary>
            <remarks>
            </remarks>
            <method-visibility>Public</method-visibility>
            <version>3</version>
        </documentation>
    </annotation>
    
    <simpleType name="ThingSectionSpec2">
        <annotation>
            <documentation>
                <summary>
                    Allows sections of the thing to be specified.
                </summary>
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="core">
                <annotation>
                    <documentation>
                        <summary>
                            Specifies the core parts of the thing.
                        </summary>
                        <remarks>
                            The core includes thing-id, version-stamp, type-id,
                            eff-date, thing-state, flags.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="audits">
                <annotation>
                    <documentation>
                        <summary>
                            Specifies the auditing section of the thing.
                        </summary>
                        <remarks>
                            The audit section includes the updated element.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>         
            <enumeration value="effectivepermissions">
                <annotation>
                    <documentation>
                        <summary>
                            Specifies the effection permissions the caller has on the thing.
                        </summary>
                        <remarks>
                            The effective permissions section includes the eff-permissions xml.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="digitalsignatures">
                <annotation>
                    <documentation>
                        <summary>
                            Specifies the digital signautures on the thing.
                        </summary>
                        <remarks>
                            The digital signatures section includes the signature xml, which
                            contains any digital signatures on the returned thing. That digital
                            signature includes a key and a cryptographic hash which can be used
                            to verify that the contents of the thing have not changed since
                            the time it was signed.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="tags">
                <annotation>
                    <documentation>
                        <summary>
                            Specifies the tags on the thing.
                        </summary>
                        <remarks>
                            The tags section includes the tags xml which is a string element
                            that contains comma separated list of tags.
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="blobpayload">
                <annotation>
                    <documentation>
                        <summary>
                            Specifies the blob payload section of the thing.
                        </summary>
                        <remarks>
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>


    <simpleType name="BlobFormatSpec">
        <annotation>
            <documentation>
                <summary>
                </summary>
                <remarks>
                </remarks>
            </documentation>
        </annotation>        
        <restriction base="string">
            <enumeration value="information">
                <annotation>
                    <documentation>
                        <summary>
                        </summary>
                        <remarks>
                        </remarks>
                    </documentation>
                </annotation>                
            </enumeration>
            <enumeration value="inline">
                <annotation>
                    <documentation>
                        <summary>
                        </summary>
                        <remarks>
                        </remarks>
                    </documentation>
                </annotation>                
            </enumeration>
            <enumeration value="streamed">
                <annotation>
                    <documentation>
                        <summary>
                        </summary>
                        <remarks>
                        </remarks>
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    
    <complexType name="BlobFilterSpec">
        <sequence>
            <element name="blob-name" type="wc-types:stringnwz64">
                <annotation>
                    <documentation>
                        <summary>
                        </summary>
                        <remarks>
                        </remarks>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="BlobFilters">
        <annotation>
            <documentation>
                <summary>
                </summary>
                <remarks>
                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="blob-filter" type="this:BlobFilterSpec"
                     minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        <summary>
                        </summary>
                        <remarks>
                        </remarks>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="BlobPayloadRequest">
        <annotation>
            <documentation>
                <summary>
                </summary>
                <remarks>
                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="blob-filters" type="this:BlobFilters" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>
                        </summary>
                        <remarks>
                        </remarks>
                    </documentation>
                </annotation>
            </element>
            <element name="blob-format">
                <complexType>
                    <sequence>
                        <element name="blob-format-spec" type="this:BlobFormatSpec" />
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>

    <complexType name="ThingFormatSpec2">
        <annotation>
            <documentation>
                <summary>
                    Specifies how the results are returned.
                </summary>
                <remarks>
                    The section element specifies which sections are returned. The xml element
                    specifies how the actual thing data is formatted.
                </remarks>
            </documentation>
        </annotation>
        <sequence>
            <element name="section" type="this:ThingSectionSpec2" 
                minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        <summary>
                            Specifies the sections to be retrieved.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="xml" type="string" 
                minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        <summary>
                            Name of the transforms to apply to the results. 
                        </summary>
                        <remarks>
                            This could come in the form of the name of a server supported transform;
                            an XSL fragment; or a URL to an external XSL.
                            If present and blank, the raw data-xml will be returned. If not present,
                            the data-xml will not be returned.
                        </remarks>
                    </documentation>
                </annotation>
            </element>
            <element name="type-version-format" 
                type="wc-types:guid" 
                minOccurs="0" 
                maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        <summary>
                            The version ID for the type format in which the results should be 
                            returned.
                        </summary>
                        <remarks>
                            When a type gets versioned, HealthVault will retrieve instances of 
                            multiple versions even when only one type is specified in the request
                            filter.  By default HealthVault will map the XML of the instance to
                            the version supported by the application based on the base 
                            authorization XML specified in the configuration of the application in
                            HealthVault. However, if multiple versions are supported by the 
                            application, it can use this parameter to state the version format to
                            use when writing out the instance XML.
                            
                            For example, when querying for medications, HealthVault will retrieve
                            medications of both version one and two schemas. If an application
                            only supports version one of the medication schema, then HealthVault
                            will automatically map version two instances down to the version one
                            schema. However, if the application supports both version one and two
                            by declaring both type IDs in the applications configuration, then
                            version one instances will be returned using the version one schema, and
                            version two instances will be returned using the version two schema.
                            If this application wants to retrieve all instances using a common 
                            schema (say version two), then it would specify the version two type
                            ID in this parameter and all instances will be mapped to version two
                            of the medication schema before being returned.
                        </remarks>
                    </documentation>
                </annotation>
            </element>
            <element name="blob-payload-request" 
                     type="this:BlobPayloadRequest" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>
                        </summary>
                        <remarks>
                        </remarks>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="ThingRequestGroup2">
        <sequence>
            <annotation>
                <documentation>
                    <summary>
                        Specifies a filter group to be used for retrieving things from a record.
                    </summary>
                    <remarks>
                        Each group is independent of the other groups and is distinguished by
                        the name. Each clause in this group is AND'd together except the id 
                        clause which is OR'd with the other clauses.
                    </remarks>
                </documentation>
            </annotation>
            <choice>
                <element name="id" type="wc-types:guid" minOccurs="0" maxOccurs="unbounded">
                    <annotation>
                        <documentation>
                            <summary>
                                Specifies thing ids that need to be returned.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="key" type="wc-thing:ThingKey" minOccurs="0" maxOccurs="unbounded">
                    <annotation>
                        <documentation>
                            <summary>
                                Specifies keys of things that need to be returned.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
                <element name="client-thing-id" type="wc-types:string255"
                         minOccurs="0" maxOccurs="unbounded">
                    <annotation>
                        <documentation>
                            <summary>
                                Specifies client assigned ids of things that need to be returned.
                            </summary>
                        </documentation>
                    </annotation>
                </element>
            </choice>
            <element name="filter" type="wc-method-getthings:ThingFilterSpec"
                minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>
                        <summary>
                            Specifies a filter for things to be retrieved based on the properties 
                            of the thing.
                        </summary>
                    </documentation>
                </annotation>
            </element>
            <element name="format" type="this:ThingFormatSpec2">
                <annotation>
                    <documentation>
                        <summary>
                            Specifies a view for the results. 
                        </summary>
                    </documentation>
                </annotation>
            </element>
                
            <element name="current-version-only" type="boolean" 
                minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>
                        <summary>
                            Specifies whether or not we should return only the current version 
                            of things that satisfy the filter. 
                        </summary>
                        <remarks>
                            This is true by default. If set to false all the versions of the 
                            thing are returned.
                        </remarks>
                    </documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="name" type="string" use="optional">
            <annotation>
                <documentation>
                    <summary>
                        Name of this request group.  
                    </summary>
                    <remarks>
                        This is used to distinguish this group from other groups that 
                        are specified as part of this same search.
                    </remarks>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="max" type="nonNegativeInteger" use="optional">
            <annotation>
                <documentation>
                    <summary>
                        The maximum number of items to be returned for this group.
                    </summary>
                </documentation>
            </annotation>
        </attribute>
        <attribute name="max-full" type="nonNegativeInteger" use="optional">
            <annotation>
                <documentation>
                    <summary>
                        Maximum number of "full" items to be returned for this group.
                    </summary>
                    <remarks>
                        For each request, the server might set a maximum number for complete things that might be returned.
                        Past this maximum, the server will return the list of thing-ids of the results. To retrieve the things represented
                        by these ids, additional GetThings calls can be made with these thing ids supplied in the ThingRequestGroup.
                    </remarks>
                </documentation>
            </annotation>
        </attribute>
    </complexType>
    
    <element name="info">
        <complexType>
            <annotation>
                <documentation>
                    <summary>
                        The element of the request that contains the method
                        specific parameters.
                    </summary>
                    <remarks>
                        All requests contain the info element to pass parameters
                        that are specific to each method. If the method does not
                        define an info element, the method does not take any
                        parameters.
                    </remarks>
                </documentation>
            </annotation>
            <sequence>
                <element name="group" type="this:ThingRequestGroup2" 
                    minOccurs="1" maxOccurs="unbounded">
                    <annotation>
                        <documentation>
                            <summary>
                                Specifies the thing/things to be retrieved.
                            </summary>
                            <remarks>
                            </remarks>
                        </documentation>
                    </annotation>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
